body {
    background-color:#FCF5EE ;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background: linear-gradient(135deg,#850E35 0%, #FFC4C4 100%);
    color: white;
    text-align: center;
    padding: 20px;
}
/* header {
    background: #850E35;
    color: white;
    text-align: center;
    padding: 40px 20px;
} */

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
}

#projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-list {
    background: #FFC4C4;
    padding: 20px;
    margin-bottom: 15px;
    border: 5px solid white;
    border-radius: 5px;
}
.project1{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border: 5px solid white;
    border-radius: 5px;
}
.project2{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border: 5px solid white;
    border-radius: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #850E35;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #EE6983;
}
@media (max-width: 600px) {
    header {
        padding: 20px 10px;
    }

    section {
        padding: 20px 10px;
    }
}
